<%= render 'users/flash' %>

<h1 class="text-center">
  Welcome to
  <i class="fa-solid fa-book"></i> <b>Bookers !!</b>
</h1>

<p class="text-center">
  In <i class="fa-solid fa-book"></i> <b>Bookers</b>,
</p>

<p class="text-center">
you can share and exchange your opinions , inpressions , and emotions
</p>

<div class="text-center">
  <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-primary" %>
</div>

<div class="text-center">
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success" %>
</div>
